weary_traveler/data/trade/*
weary_traveler/data/ninja/*
weary_traveler/data/profit/*
weary_traveler/data/item_entries/*
weary_traveler/data/profit_strats/*
weary_traveler/__pycache__
weary_traveler/.ipynb_checkpoints
weary_traveler/poe_ninja_data.csv
weary_traveler/.env
tests/__pycache__
.vscode/
